.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: 150ms;
}

.fade-enter-active {
  transition-delay: 50ms;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
